<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="dm-vidiview" value="https://nuget.pkg.github.com/distributed-medical/index.json" />
		<!-- <add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" /> -->
	</packageSources>

    <packageSourceCredentials>
        <dm-vidiview>

            <!-- Read/write access to DM Packages. Token expires 2024-12-31 -->

	    <add key="Username" value="bjorn-malmo" />
            <add key="ClearTextPassword" value="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" />
        </dm-vidiview>
    </packageSourceCredentials> 
</configuration>
